body {
    color: #999;
}

.box{
    box-sizing: border-box;
    margin: 2px;
    width: 98%;
    height: 98%;
    border-style: solid;
    border-color: rgb(213, 219, 211);
    border-radius: 10%;
    
}

.row{
    
    display: flex;
    width: 800px;
    height: 200px;
    align-content: center;

}

.board{
    margin: auto;
    width: 800px;
    height: 800px;
}

.icon_goblin{
    width: 100%;
    height: 100%;
}

.scoreLabel{
    margin: auto;
    width: 400px;
    height: 100px;
    background-color: #b1c0b3;
    font-size: 5em;
    text-align: center;
    color: aliceblue;
    border-radius:7%;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(218, 223, 217);
}

.custom { 
    /* cursor: pointer; */
    cursor: url('../img/icons9.png'), pointer;

}