body {
    color: #999;
}

.board{
    margin: auto;
    width: 800px;
    height: 800px;
}

.row{
    display: flex;
    width: 800px;
    height: 200px;
    align-content: center;
}

.box{
    box-sizing: border-box;
    margin: 2px;
    width: 98%;
    height: 98%;
    border-style: solid;
    border-color: rgb(213, 219, 211);
    border-radius: 10%;
    cursor: url('../img/icons9.png'), pointer;
    background-color: rgb(242, 247, 252);
}

.icon_goblin{
    width: 100%;
    height: 100%;
}

.labelScoreGame{
    display: flex;
    margin: auto;
    width: 400px;
    font-size: 5em;
    text-align: center;
    color: rgb(211, 211, 211);
}

.labelScoreGame__boxs {
    margin: 10%;
    width: 30%;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(221, 223, 223);
    border-radius: 18px;
    color: rgb(247, 247, 247);
}

.labelScoreGame__boxs_hit {
    background-color: rgb(140, 226, 154);
    border-radius: 10px;
}

.labelScoreGame__boxs_miss {
    background-color: rgb(238, 107, 84);
    border-radius: 10px;
}