body {
    color: #999;
    position: relative;
}

.board{
    margin: auto;
    width: 800px;
    height: 800px;
}

.row{
    display: flex;
    width: 800px;
    height: 200px;
    align-content: center;
}

.box{
    box-sizing: border-box;
    margin: 2px;
    width: 98%;
    height: 98%;
    border-style: solid;
    border-color: rgb(213, 219, 211);
    border-radius: 10%;
    cursor: url('../img/icons9.png'), pointer;
    background-color: rgb(242, 247, 252);
}

.icon_goblin{
    width: 100%;
    height: 100%;
}

.labelScoreGame{
    display: flex;
    margin: auto;
    width: 400px;
    font-size: 5em;
    text-align: center;
    color: rgb(211, 211, 211);
}

.labelScoreGame__boxs {
    margin: 10%;
    width: 30%;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(221, 223, 223);
    border-radius: 18px;
    color: rgb(247, 247, 247);
}

.labelScoreGame__boxs_hit {
    background-color: rgb(140, 226, 154);
    border-radius: 10px;
}

.labelScoreGame__boxs_miss {
    background-color: rgb(238, 107, 84);
    border-radius: 10px;
}

    
.modal-overlay {
    display: none; /* Скрыто по умолчанию*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 5, 5, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    display: flex;
}

.modal-window {
    background-color: #eeeaea;
    border-radius: 5px;
    max-width: 300px;
    position: relative;
    padding: 30px;
}
